site_name: anymap
site_description: A Python package for creating interactive maps with anywidget and JavaScript mapping libraries
site_author: giswqs
site_url: https://anymap.dev
repo_url: https://github.com/opengeos/anymap

copyright: "Copyright &copy; 2025 - 2025 Qiusheng Wu"

theme:
    palette:
        - scheme: default
          #   primary: blue
          #   accent: indigo
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    # logo: assets/logo.png
    # favicon: assets/favicon.png
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.top
        - search.highlight
        - search.share
    custom_dir: "docs/overrides"
    font:
        text: Google Sans
        code: Regular

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - git-revision-date-localized:
          enable_creation_date: true
          type: timeago
    # - pdf-export
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
          execute: false
          allow_errors: false
          ignore: ["conf.py"]
          execute_ignore: ["*ignore.ipynb"]

markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/opengeos/anymap/issues
    - Cesium:
          - examples/cesium/cesium_example.ipynb
    - DeckGL:
          - examples/deckgl/deckgl_example.ipynb
    - KeplerGL:
          - examples/keplergl/keplergl_example.ipynb
    - Leaflet:
          - examples/leaflet/leaflet_example.ipynb
    - MapLibre:
          - examples/maplibre/basic_usage.ipynb
          - examples/maplibre/maplibre_example.ipynb
          - examples/maplibre/infobox_example.ipynb
          - examples/maplibre/pmtiles_example.ipynb
          - examples/maplibre/draw_control_example.ipynb
          - examples/maplibre/add_draw_data_example.ipynb
          - examples/maplibre/save_draw_data_example.ipynb
          - examples/maplibre/layer_control_example.ipynb
          - examples/maplibre/geocoder_example.ipynb
          - examples/maplibre/terrain_example.ipynb
          - examples/maplibre/streetview_example.ipynb
          - examples/maplibre/clicked_attribute_example.ipynb
          - examples/maplibre/map_click_polygon_intersection.ipynb
          - examples/maplibre/custom_draw_styles_example.ipynb
    - Mapbox
      - examples/mapbox/mapbox_example.ipynb
    - OpenLayers
      - examples/openlayers/openlayers_example.ipynb
    - Potree
      - examples/potree/potree_example.ipynb
    - API Reference:
          - anymap module: anymap.md
          - base module: base.md
          - cesium module: cesium.md
          - compare module: compare.md
          - deckgl module: deckgl.md
          - draw_styles module: draw_styles.md
          - keplergl module: keplergl.md
          - leaflet module: leaflet.md
          - mapbox module: mapbox.md
          - maplibre module: maplibre.md
          - maplibre_widgets module: maplibre_widgets.md
          - openlayers module: openlayers.md
          - potree module: potree.md
          - stac module: stac.md
          - utils module: utils.md
